
.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea, .form-control select {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea, .form-control select {
  border: none;
  font: inherit;
  border-radius: 2px;
  padding: 10px 8px;
  background-color: #fafafa;
  color: black !important;
}

.form-control input:focus,
.form-control select:focus,
.form-control textarea:focus {
  outline-color: #f57316;
}
.form-control input.invalid,
.form-control select.invalid,
.form-control textarea.invalid{
  border-color: red;
}

.f-6 {
  width: 50% !important;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: 1rem auto 0 auto;
  width: 100%;
  max-width: 780px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}
.tab-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.tab-header div {
  width: 20%;
}

.select-criteria{
  width: 90%;
  max-width: 400px;
  background-color: white;
  margin: 1rem auto;
  padding: 15px
}

.select-criteria h3 {
  font-size: 20px;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  
}

.row-2 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}